<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
    <script src="https://sdk.yoti.com/clients/browser.2.0.1.js"></script>
</head>
<body>

<div class="jumbotron">
    <h1>Login to Yoti Connections</h1>

    <a href="secure" class="btn btn-lg btn-link">Login to OAuth here</a>
    <br/>
    <br/>
    <h1>Login using Yoti</h1>
    <span data-yoti-application-id="deb83264-9085-460a-b569-851a65ea8539">
        Log in with Yoti
    </span>
    <script>
        _ybg.init()
    </script>
</div>
</body>
</html>