<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Spring Security OAuth Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <head>
        <script src="https://sdk.yoti.com/clients/browser.2.0.1.js"></script>
    </head>
</head>


<body>

<div class="jumbotron">
    <h1>Spring Security OAuth Example</h1>

    <a href="secure" class="btn btn-lg btn-link">Login to OAuth here</a>
    <br/>
    <br/>
    <h1>Login using Yoti</h1>
    <span data-yoti-application-id="deb83264-9085-460a-b569-851a65ea8539">
        Log in with Yoti
    </span>
    <script>
        _ybg.init()
    </script>
</div>
</body>

</html>